*{ box-sizing: border-box;}
body{ font-family: Arial, Helvetica, sans-serif; display: flex; flex-direction: column; margin: 0;}
a{ text-decoration: none;}
header{ background:#ccc; display: flex; align-items: center; padding: 15px 0}
header ul{ list-style: none; display: flex; padding: 0; margin: 0; }
header a{ color: #000}
#logo{ margin: 0 auto; font-size: 25px;}
#menu li{ padding:10px;}
#social-links li{ padding:10px;}

#main{ display: flex; }
aside{ flex: 0 0 20vw; background: beige; padding: 10px;}
aside ul{ list-style: none; padding: 0;}
aside ul a{ color: #566c2b; padding: 10px; display: block; border-bottom:1px solid grey;}
aside img{ width: 100%;}

article{ padding: 10px;} 

.services-container{ display: flex; flex-wrap: wrap; justify-content: space-between;  }
.services-box{ border:1px solid #eee; padding: 10px; flex-basis: 32%; max-width: 370px; display: flex;
flex-direction: column; margin-bottom: 15px; }
.services-box img{ width: 100%;}

.call-to-action{ align-self: flex-start; margin-top: auto;}
.call-to-action a{ background: grey; color: #fff; padding: 8px 13px; display: block; border:2px solid transparent}


footer{ background: #566c2b; color: #fff; text-align: center; padding: 15px 0; }

@media screen and (max-width:850px){
 .services-box{ flex-basis: 48%; max-width: 370px;}   
 aside{ flex: 0 0 30vw;}

}


@media screen and (max-width:600px){
header{ flex-direction: column}
#logo{ order: -1;}
#main{ flex-direction: column}
article{ order: -1;}
.services-container{ flex-direction: column; align-items: center}
h2{ text-align: center}
}

